{% extends "template.html.twig" %}

{% block body %}
   <h2>Bienvenue sur la page Admin !</h2>

   <div class="container">
      <div class="">

      </div>

      <div class="">

      </div>
   </div>
{% endblock %}
