{% extends "template.html.twig" %}

{% block title %}
	Réinitialisation du mot de passe
{% endblock %}

{% block body %}


Vous avez demandé à changer votre mot de passe, cliquez sur le lien çi-dessous :

<a href="{{baseUrl}}/ChangerMotDePasse"> Réinitialisez votre mot de passe </a>



{% endblock %}