/*******************************************************CSS ANTHONY COMMENTS**********************************************/

.img-thumbnail {
  max-width: 75px;
  max-height: 75px;
  border: 1px solid red;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.radio {
  opacity: 0;
  cursor: pointer;
}

.star-note {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-note>label:before {
  color: orange;
  content: "\2605";
}

/*//////////////////////*/

.star {
  color: orange;
}

.star {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star>label {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.star>label:hover:before, .star>label:hover~label:before {
  content: "\2605";
  position: absolute;
}

/*//////////////////////////////*/

.star-complet1 {
  color: orange;
}

.star-complet1 {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-complet1>label {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.star-complet1>label:nth-child(9):before, .star-complet1>label:nth-child(9)~label:before {
  content: "\2605";
  position: absolute;
}

/*///////////////////////////*/

.star-complet2 {
  color: orange;
}

.star-complet2 {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-complet2>label {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.star-complet2>label:nth-child(7):before, .star-complet2>label:nth-child(7)~label:before {
  content: "\2605";
  position: absolute;
}

/*///////////////////////////*/

.star-complet3 {
  color: orange;
}

.star-complet3 {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-complet3>label {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.star-complet3>label:nth-child(5):before, .star-complet3>label:nth-child(5)~label:before {
  content: "\2605";
  position: absolute;
}

/*///////////////////////////*/

.star-complet4 {
  color: orange;
}

.star-complet4 {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-complet4>label {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.star-complet4>label:nth-child(3):before, .star-complet4>label:nth-child(3)~label:before {
  content: "\2605";
  position: absolute;
}

/*///////////////////////////*/

.star-complet5 {
  color: orange;
}

.star-complet5 {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-complet5>label {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.star-complet5>label:nth-child(1):before, .star-complet5>label:nth-child(1)~label:before {
  content: "\2605";
  position: absolute;
}

/*///////////////////////////*/

.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

@media (max-width: 1366px) {}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 800px) {}

@media (max-width: 768px) {}

@media (max-width: 640px) {}

/*/////////////////////////////////////////////////////////////FIN DE COMMENTS///////////////////////////////////////////////////////////////*/

.notif-comment {
  font-size: 30px;
  color: #930031;
}

/**
 * ----------------------------------------
 * animation shadow-drop-2-bottom
 * ----------------------------------------
 */

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
  }
}

.shadow-drop-2-center :hover {
  -webkit-animation: shadow-drop-2-center 0.3s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
  animation: shadow-drop-2-center 0.3s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.text-in-image {
  display: none;
  position: absolute;
  background-image: radial-gradient(circle, #535c68, #63707d, #748493, #8499a9, #95afc0);
  width: 100%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  -webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  color: #fff;
}

.shadow-drop-2-center:hover+.text-in-image {
  display: block;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

h2 {
  color: #991c3b;
  text-transform: uppercase;
}

/** HEADER **/

header {
  cursor: default;
  box-shadow: 0px 5px 5px -5px #656565;
  text-align: center;
  background-color: #eaeaea;
}

.header-nav ul {
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

.header-nav ul li a {
  margin: 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #555;
}

.header-nav ul li a:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #ff2e63;
  box-shadow: 0px 10px 10px -10px #656565;
}

@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.705);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.705);
  }
}

@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.705);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.705);
  }
}

.shadow-drop-2-bottom :hover {
  -webkit-animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  border-bottom: solid 1px black;
  border-top: none;
}

.shadow-drop-2-bottom {
  border-top: solid 1px transparent;
}