{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block body %}

<h2>Bienvenue sur la page de l'artiste demandé</h2>
<p>
    Ici on peut afficher la fiche de l'artite avec toutes les infos !
</p>


{% endblock %}
